.posts__container ,.user__posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  row-gap: 20px;
}
.user__name{
    margin-bottom: 10px;
    color: white;
}